.TimeInput{
    background:rgb(194, 194, 194);
    border-radius:3px;
    font-size: 16px;
    padding: 3px 5px;
}


.BusinessSlot{
    display:flex;
    align-items:center;
}

.TimeInputLabel{
   display:block;
}

.Container{
    padding-top:60px;
    width:85%;
    margin:0 auto;
}

.PageTitle{
    margin-bottom:40px;
}